@charset "utf-8";
@import "normalize.css";
@import "fonts.css";
/* 스타일 초기화 */
/* 여백 제거 */
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
	margin: 0;
	padding: 0;
}
/* 목록의 불릿 기호 제거 */
ul{
	list-style: none;
}
/* 링크 스타일 */
a:link, a:visited{
	text-decoration: none;
	color: inherit;
}
/* 숨김 콘텐츠 */
.a11y-hidden{
	position: absolute;
	overflow: hidden;	
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0
}
/* 본문 스타일 */
html{
	font-size: 10px;
}
body {
	color: #181818;
	font-size: 1.4rem; /* html 기본 글자크기 * 1.4 = 14px */
	font-family: 'Noto Sans Regular';
	background: #fff linear-gradient(to bottom, #aaa 0%, #fff 70%, #fff 100%);
}
/* 레이아웃 */
.header, .visual, .main-content, .slogan, .footer{
	width: 940px;
	margin: 0 auto;
	box-sizing: border-box;
}
/* 헤더 */
.header{
	background-color: #fff;
	height: 110px;
	padding: 0 30px;
	border-radius: 0 0 15px 15px;
	position: relative;
}
/* 로고 */
.logo{
	position: absolute;
	top: 45px;
	left: 60px;
}
/* 안내 링크 */
.info{
	background-color: yellow;
	font-size: 0;
	text-align: right;
}
.info li{
	background-color: pink;
	margin: 10px 0;
	display: inline-block;
	font-size: 1.4rem;
}
.info a{
	background-color: lime;
}
/* 메인 메뉴 */
.main-menu{
	background-color: orange;
}

/* 비주얼 */
.visual{
	height: 120px;
}
/* 메인 콘텐츠 */
.main-content{
	background-color: #fff;
	padding: 30px 15px;
	min-height: 400px;
	border-radius: 15px 15px 0 0;
}
.main-content::after{
	content: "";
	display: block;
	clear: both;
}
.group{
	float: left;
	margin: 0 15px;
}
.group1{
	width: 250px;
}
.group2{
	width: 380px;
}
.group3{
	width: 190px;
}
/* 슬로건 */
.slogan{
	min-height: 100px;
}
/* 푸터 */
.footer-bg	{
	background: #aaa linear-gradient(to bottom, #aaa 0%, #fff 70%, #fff 100%);
}
.footer{
	min-height: 100px;
}
