@charset "utf-8";
@import "normalize.css";
@import "fonts.css";
/* 스타일 초기화 */
/* 여백 제거 */
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
	margin: 0;
	padding: 0;
}
/* 목록의 불릿 기호 제거 */
ul{
	list-style: none;
}
/* 링크 스타일 */
a:link, a:visited{
	text-decoration: none;
	color: inherit;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
	position: absolute;
	overflow: hidden;	
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0
}
/* 본문 스타일 */
html{
	font-size: 10px;
}
body {
	color: #181818;
	font-size: 1.4rem; /* html 기본 글자크기 * 1.4 = 14px */
	font-family: 'Noto Sans Regular';
	background: #fff linear-gradient(to bottom, #aaa 0%, #fff 70%, #fff 100%);
}
/* 레이아웃 */
.wrapper{
	background: url(images/bg_flower.png) no-repeat 50% 0;
}
.header, .visual, .main-content, .slogan, .footer{
	width: 940px;
	margin: 0 auto;
	box-sizing: border-box;
}
/* 헤더 */
.header{
	background-color: #fff;
	height: 115px;
	padding: 0 30px;
	border-radius: 0 0 15px 15px;
	position: relative;
}
/* 로고 */
.logo{
	position: absolute;
	top: 45px;
	left: 60px;
}
/* 안내 링크 */
.info{
	font-size: 0;
	text-align: right;
	margin-right: -8px;
}
.info li{
	margin: 10px 0;
	display: inline-block;
	font-size: 1.4rem;	
}
.info li:nth-child(n+2)::before{
	content: ":";
}
.info a{
	padding: 5px 8px;
	text-transform: uppercase;
}
/* 메인 메뉴 */
.main-menu{	
	background: linear-gradient(to bottom, #eaac2e 0%,#f2752e 35%,#f2752e 65%,#eaac2e 100%);
	background-color: #f2752e;
	border-top: 2px solid #000;
	border-radius: 0 0 5px 5px;
	padding-left: 225px;
	height: 45px;
}
.main-menu a{
	outline: 0 none;
}
.main-menu > li{
	float: left;
	position: relative;
}
.main-menu > li > a{
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Noto Sans Bold';
	display: block;
	line-height: 45px;
	padding: 0 20px;
	border-left: 1px solid #fff;
	text-shadow: 1px 0 0 #000, 0 1px 0 #000,
	-1px 0 0 #000, 0 -1px 0 #000;
}
.main-menu > li > a:hover, 
.main-menu > li > a:focus{
	color: #ff0;	
}
.main-menu > li > a:hover::after,
.main-menu > li > a:focus::after{
	content: "";
	display: block;
	border-top: 2px solid #000;
}
.main-menu ul{
	background-color: pink;
	position: absolute;
	top: 47px;
	white-space: nowrap;
}
.main-menu ul li, .main-menu ul a{
	display: inline-block;
}
.main-menu ul a{
	padding: 6px 15px 8px 0;
}
.main-menu ul a:hover, 
.main-menu ul a:focus{
	color: #f00;
}
.main-menu ul a::before{
	content: "r";
	font-family: 'webcafeIcon';
	position: relative;
	top: 2px;
}
.main-menu ul a:hover::before,
.main-menu ul a:focus::before{
	content: "c";
}
.about-html{
	display: none;
	left: 0;
}
.about-css{
	display: none;
	left: 0;
}
.web-standard{
	display: none;
	left: 0;
}
.web-accessibility{
	display: none;
	left: -140px;
}
.qna{
	display: none;
	left: -175px;
}
.archive{
	display: none;
	right: -20px;
}
/* 비주얼 */
@keyframes text-ani{
	0%{
		font-size: 12px;
		color: rgba(0,0,0,0);
		transform: translate(0,0);
	}
	100%{
		font-size: 24px;
		color: rgba(0,0,0,1);
		transform: translate(400px,75px);
	}
}

@keyframes flower-ani {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.visual{
	height: 120px;
	position: relative;
}

.visual::before, .visual::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	animation: flower-ani 2s alternate infinite ease-in-out;
}

.visual::before {
	background: url(images/ani_flower_01.png) no-repeat 0 -15px, url(images/ani_flower_02.png) no-repeat 670px 0;
	animation-delay: 1s;
}
.visual::after {
	background: url(images/ani_flower_03.png) no-repeat 300px 0, url(images/ani_flower_04.png) no-repeat 800px 15px;

}
.visual-text {
	display: inline-block;
	color: rgba(0,0,0,0);
	font-family: Georgia, serif;
	animation: text-ani 2s forwards ease-in-out;
}

/* 메인 콘텐츠 */
.main-content{
	background-color: #fff;
	padding: 30px 15px;
	min-height: 400px;
	border-radius: 15px 15px 0 0;
}
.main-content::after{
	content: "";
	display: block;
	clear: both;
}
.group{
	float: left;
	margin: 0 15px;
}
.group1{
	width: 250px;
}
.group2{
	width: 380px;
}
.group3{
	width: 190px;
}
/* 로그인 */
.login {
	background: radial-gradient(circle at top right, #ffc848, #ff8208);
	
	box-shadow: 5px 5px 5px 0 #999;
	border-radius: 5px;
	padding: 10px;
}

.login-subject {
	font-size: 1.6rem;
	color: #ff0;
	font-family: 'Noto Sans Bold';
	margin-left: 10px;
}

/*.login h2 {
	color: yellow;
	padding: 5px 0px 0px 15px;
}*/

.login form {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 10px 0 10p;
	margin-top: 10px;
	position: relative;
}

.login-form filedset {
	border: 0 none;
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
}

.user-id, .user-pw {
	margin: 5px;
}

.login-form lable {
	background-color: lime;
	display: inline-block; 
	/*inline은 글자길이에 따라 저절로 width, height결정된다*/
	/*width, height가지면서 줄바꿈 저절로 되길 원하면 inline-block*/
	width: 60px;
}

.login-form input {
	width: 100px;
	height: 20px;
	border: 1px solid #aaa;
	padding: 0;
}

.login button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px; 
	height: 50px;
	color: #fff;
	font-size: 11px;
	line-height: normal;
}

.join {
	float: left;
	padding: 0 0 0 0;
	margin: 0 15px 0 15px;
}

legned {
	display: block;
}

/* 슬로건 */
.slogan{
	min-height: 100px;
}
/* 푸터 */
.footer-bg	{
	background: #aaa linear-gradient(to bottom, #aaa 0%, #fff 70%, #fff 100%);
}
.footer{
	min-height: 100px;
}
